.single-band-container{
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin: 40px 40px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: lighter;
}

.single-band-container :first-child {
    margin-bottom: 30px;
}
